export ADDR=":8080"
export DB_ADDR="postgres://admin:adminpassword@localhost:5432/socialnetwork?sslmode=disable"
export DB_MIGRATOR_ADDR="postgres://admin:adminpassword@localhost:5432/socialnetwork?sslmode=disable"
export SENDGRID_API_KEY="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"
export FROM_EMAIL="kuanyshmykyev@gmail.com"
export ENV="production"
export AUTH_BASIC_USER="admin"
export AUTH_BASIC_PASS="admin"